.nav-item{
    cursor: pointer;
    padding: 0 10px;
}

.nav-item:hover {
    background-color: rgba(0,0,0,0.1)
}

body {
    background-color: #665f5f1c;
}

.container {
    background-color: #fff;
    margin: 10px auto !important;
}

.tab-item:not(.active),
.xlsxCodeProcessed:not(.active),
.processXlsx:not(.active)
 {
    display: none
}

input.fileName:disabled{
    border-bottom: 1px solid rgb(122, 122, 122) !important;
}

::placeholder { 
    color: rgb(122, 122, 122); 
    opacity: 1; 
  }

  .initImage{
      border-radius: 10px;
  }

  .xlsxCodeProcessed {
      padding: 10px 20px;
      border-radius: 10px;
  }

  .code{
    white-space: pre;
    resize: none;
    overflow: auto;
    height: 250px;
    background: black;
    color: dimgrey
  }

  #codeToCopy{
    color: darkolivegreen
  }
  
  .tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(94, 94, 94, 0.2);
    outline: none;
    color: black
}

.tabs .tab a{
    color:#000;
}

.tabs .tab a:hover {
    color:rgb(117, 117, 117);
} 

.tabs .tab a.active {
    color:rgb(48, 48, 48);
} 

.tabs .indicator {
    background-color:#000;
} 

.notifications{
    margin: 15px 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.notifications .logo{
    width:70px;
    padding:0;
    margin:0;
}

.notifications .logo i{
    width: 100%;
    color: white;
    font-size: 40px;
}

.notifications .content{
    width:calc(100% - 70px);
    text-align: left;
    padding: 0px 20px;
    margin:0;
}

.notifications .content ul{
    padding-left: 40px;
}

.notifications p{
    text-align: justify;
}

.notifications .content li{
    text-align: justify;
    list-style-type: disc;
    padding: 10px 0px;
}

.swalContent{
    text-align: justify;
}

.swalContent{
    text-align: justify;
    padding: 0px 20px;
}

.swalContent em{
    word-break: break-all;
}

.swalContent span b{
    color: #26a69a;
}

.swal-button--cancel{
    color: white;
    background: rgb(228, 75, 75);
}

.swal-button--cancel:focus{
    color: white;
    background: #D32F2F;
}

.swal-button--cancel:not([disabled]):hover{
    color: white;
    background: rgb(226, 112, 112);
}

.sheetName{
    color: #3737ff
}

.htmlClass{
    color: #c15900;
}

.htmlTag{
    color: blue
}

.htmlSymbol,
.JSsymbol{
    color: grey;
}

.htmlAttr,
.JSvar{
    color: #3766ff
}

.JSfunction{
    color: #c78800
}
