.nav-item{
    cursor: pointer;
    padding: 0 10px;
}

.nav-item:hover {
    background-color: rgba(0,0,0,0.1)
}

body {
    background-color: #665f5f1c;
}

.container {
    background-color: #fff;
    margin: 10px auto !important;
}

.tab-item:not(.active),
#code:not(.active),
#processNew:not(.active)
 {
    display: none
}

input.fileName:disabled{
    border-bottom: 1px solid rgb(122, 122, 122) !important;
}

::placeholder { 
    color: rgb(122, 122, 122); 
    opacity: 1; 
  }

  #codeToCopy{
    white-space: pre;
    resize: none;
    overflow: auto;
    height: 250px;
    background: black;
    color: darkolivegreen
  }